@model NannaKlean.Models.MiscItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MiscItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="requested" /> @Html.DisplayNameFor(model => model.requested)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ResCleanDetailId" class="control-label"></label>
                <select asp-for="ResCleanDetailId" class ="form-control" asp-items="ViewBag.ResCleanDetailId"></select>
            </div>
            <div class="form-group">
                <label asp-for="MiscItemTypeId" class="control-label"></label>
                <input asp-for="MiscItemTypeId" class="form-control" />
                <span asp-validation-for="MiscItemTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
