@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 style="font-size:6vw;color:#0d6efd">NannaKlean</h2>
    <h3>Are you ready for a clean?</h3>
    <br />
    <h5>We offer some of the best professional cleaning services in Winnipeg! Click the button below to get a quote:</h5>
    <br />

    <button type="button" class="btn btn-primary btn-lg btn-block" style="margin: 6px">Get a residential cleaning quote</button>
    @* <button type="button" class="btn btn-primary btn-lg btn-block" style="margin: 6px">Get a business cleaning quote</button> *@
    <br />
    <br />
    <img src="~/images/gloves-clean.jpg" style="max-width:90%" />
</div>
